body {
    background-color: #E0F2FE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 100%;
    height: 100vh;
    padding: 200px;
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #FF9800;
    border-color: #FF9800;
    border-radius: 50px;
    transition: transform 0.3s ease;
  }
  
  .btn-primary:hover {
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    .col-md-5 {
      display: none; /* Hide the col-md-5 div on mobile devices */
    }
    .card{
      padding:20%;
    }
  }
  @media (max-width: 1233px) {

    .card{
      padding:20%;
    }
  }
