body {
  background-color: #E0F2FE !important;
  height: 100vh;
  overflow-y: auto;

}

.header {
 
  height: 0 !important;
}


#return-button,
#question-button,
#homepage,
#next-button,
#dropdownMenuButton ,
#go-to-first-page,#save-and-exit-button{
  bottom: 10px;
  background-color: #35303022;
  color: white;
  border: none;
  border-radius: 5vw; /* Use 10% of the viewport width for border-radius */
  padding: 1vh 2vw; /* Use 2% of viewport height for top/bottom padding and 4% of viewport width for left/right padding */
  font-size: 1.5vw; /* Use 2.5% of the viewport width for font size */
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 6vw; /* Use 6% of the viewport width for button width */
  height: 6vw;
}

#return-button:hover,
#question-button:hover,
#homepage:hover,
#next-button:hover {
  transform: scale(1.1);
}


#next-button{
  text-align: center;
margin-left:20%;
margin-top: 10%;
}

.progress-bar-container {
  margin-left:10%;
  margin-right:10%;
  height: 10px;
  background-color: #FFA726 !important;
  position: relative;
}

.progress-bar {
  height: 0 !important;
  background-color: #f3cc99 !important;
  border-radius: 15px;
}

.your-progress {
  top: 10px;
  right: 10px;
  color: white;
  font-size: 23px;
  height: 0 !important;
}





.hint-icon:hover {
  transform: scale(1.1);
}

.homepage:hover {
  transform: scale(1.1);
}

/* */
/* Default styles for maintaining a 2560:1600 aspect ratio */
.canvas-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Ensure the container doesn't exceed the screen width */
  padding-top: 62.5%; /* 1600 / 2560 * 100 */
  background-color: #E0F2FE; /* Set the desired background color */
  border-radius: 10px;
  overflow: hidden; /* Hide any overflow */
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: auto; /* Set width to auto to maintain intrinsic size */
  height: auto; /* Set height to auto to maintain intrinsic size */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  max-height: 100%; /* Ensure it doesn't exceed the container's height */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
}



#go-to-first-page,#save-and-exit-button{
  position: absolute;
  top: 5%; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  z-index: 999; /* Ensure it's above other content */
  background-color: #35303022;
  border-radius: 130px !important;
  z-index: 999; 
}
#save-and-exit-button{
 margin-top:8%;
}

#return-button {
  position: absolute;
  top: 45%;
  left: 10px; /* Adjust as needed */
  padding: 0.5vh 1vw; /* Reduce padding for smaller button */
  right: 1vw;
}

#question-button {
  position: absolute;
  top: 45%;
  right: 10px !important; /* Adjust as needed */
  padding: 0.5vh 1vw; /* Reduce padding for smaller button */
  right: 1vw;
}


.canvas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/*
    DEMO STYLE
*/






a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.button-grp {

  position: absolute;
  top: 50px;

  left: 50px;

  width: 100px;
  height: 100px;
  transform: translateX(-50%);
  display: flex;  
  opacity: 0;
  /* Hide the button group by default */
  transition: opacity 0.3s ease;

}

.canvas-container:hover #question-button,#return-button{
  opacity: 1 !important;
  /* Show the button group on hover */
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
  height: 100vh; /* Set the height to 100vh to make it fill the viewport height */
  overflow: hidden; /* Hide the overflow */
}


#sidebar {
  position: fixed;
  width: 20%; 
  background-color: #7386D5;
  color: #fff;
  transition: all 0.3s;
  z-index: 999;
  overflow-y: auto;
  height: 100%;
  font-size: 1.8vw;
}



#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -280px;

}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 4em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 1.8em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.sidebarCollapse {
  float: right !important;
  bottom: 10px !important;
  right: 10px !important;
  width: 70px !important;
  height: 70px !important;
  font-size: 38px !important;
}



#content {
  width: 75%; /* Adjust the width as needed for your content */
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100%; /* Set min-height to 100% to fill the available space */
  transition: all 0.3s;
  min-width: calc(100% - 25%); /* Adjust the min-width accordingly */
  align-items: center;
}

#content p a {
  color: red
}


.question,
.hint,
.survey,.surveyform{
  margin-left: 5%;
  margin-top: 10%;
}

.pop {
  margin-bottom: 10%;
}



.form-check-label{
  margin-left: 20%;
}

/* Set the 2560x1600 (16:10) aspect ratio */
.canvas-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Ensure the container doesn't exceed the screen width */
  padding-top: 62.5%; /* 1600 / 2560 * 100 */
  background-color: #E0F2FE; /* Set the desired background color */
  border-radius: 10px;
  overflow: hidden; /* Hide any overflow */
}
/* CSS for the Congratulations Page */

/* Rotate Phone Message */
#rotate-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#rotate-message-content {
  text-align: center;
}

#rotate-message h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#rotate-message p {
  font-size: 18px;
}
/* Add this to your existing CSS or create a new CSS file */

.canvas {
  left: 0;
  transition: left 0.5s ease-in-out; /* Slide horizontally */
}
